<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zed.tools.lib.nsdconnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
	<uses-permission
	    android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />           
	
	<!-- receiver android:name="zed.tools.lib.nsdconnect.NsdService.NsdBroadcastReceiver" >
        <intent-filter>
            <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            <action android:name="android.net.wifi.STATE_CHANGE" />
        </intent-filter>
    </receiver -->
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_nsd_service"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>

</manifest>
